.App .col-12,
.col-md-3,
.col-md-2,
.col-md {
  border-radius: 6px;
  margin: 5px;
  background-color: antiquewhite;
}

.App .col-md-3 {
  padding: 0;
}

.App .about {
  display: flex;
  justify-content: center;
  align-items: center;
}
