.Contacts {
  text-align: center;
}

.Contacts h3 {
  line-height: 1.5;
  text-decoration: overline dotted var(--muted-yellow-color) 8px;
  margin-bottom: 24px;
}

.Contacts div {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
}

.Contacts i {
  color: var(--soft-blue-color);
  margin-right: 6px;
  font-size: 24px;
}

.Contacts a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 20px;
}

.Contacts a:hover {
  color: var(--coral-color);
}

.Contacts .linkedIn {
  margin-right: 30px;
}
