.ProjectButtons a i {
  display: inline-block;
  color: var(--soft-blue-color);
  font-size: 30px;
  margin-left: 12px;
  margin-right: 12px;
}

.ProjectButtons a:hover i {
  color: var(--coral-color);
  transform: scale(1.5);
}
