.Skills {
  text-align: center;
  padding: 5px;
}

.Skills .icons {
  margin: 0 24px 0 24px;
  font-size: 50px;
  color: var(--muted-yellow-color);
}

.Skills .icons:hover {
  transform: scale(1.5);
  color: var(--coral-color);
}
